{% extends 'base.html' %}

{% block titulo %}
    - Editar grupo
{% endblock %}

{% block encabezado %}
    Editar datos de un grupo
{% endblock %}

{% block contenido %}
<div class="card shadow mb-4">
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Guardar cambios</span>
            </button>

            <a href="{% url 'grupoList' %}" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text">Cancelar cambios</span>
            </a>
        </form>
    </div>
</div>
{% endblock %}